
.start-container {
	border: red solid 1px;
	background-color: black;
	}

.start-container section {
	border: green solid 1px;
	
}
.start-container h1 {
	font-family: var(--font-family);
	color: var(--primary-color);
	font-size: 4em;
	font-weight: lighter;
}

.start-container p:first-child {
	font-family: var(--font-family);
	color: var(--secontary-color);
	font-size: 2em;
	font-weight: lighter;
}

.start-container p {
	font-family: 'Roboto', sans-serif;
	color: var(--secontary-color);
	width: 40%;
	line-height: 1.5em;

}

.start-container h2 {
	color: var(--primary-color);
	font-family: 'Roboto', sans-serif;
}

