.gallery-container {
	/* border: 1px solid black; */
	padding: 1em;
	/* margin: 1em; */
	display: flex;
	flex-direction: column;
	/* border: blue solid 1px; */
	padding: 0px 5%;
	background-color: var(--background-color);
}

