
.hamster-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	/* border: yellow solid 1px; */
}

.hamstercard {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 1em;
	padding: 1em;
	border-radius: 2em;
	background-color: var(--primary-color);
	/* border: var(--primary-color) solid 2px; */
}

.hamster-container .delete-hamster {
	align-self: flex-end;
	width: 10%;
	padding: 1em;
	cursor: pointer;
}

.hamster-container .hamstercard-img {
	height: 15vh;
	border-radius: 1em;
	border: var(--background-color) solid 2px;
}

.hamster-container h3 {
	font-family: var(--heading-font-family);
	color: var(--background-color);
	font-size: 2em;
	font-weight: lighter;
	text-transform: uppercase;	
}