.hamster-info-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: black solid 1px; */
}

.hamster-info-container button {
	width: 13em;
	margin-bottom: 1em;
	padding: 0.8em 1.2em;
	margin-top: 1em;
	border-radius: 2em;
	border: none;
	background-color: var(--background-color);
	color: var(--secondary-color);
	font-family: var(--paragraph-font-familiy);
	font-size: 1em;
	font-weight: lighter;
}

.hamster-info-container button:hover {
	background-color: var(--hover-color);
	cursor: pointer;
	transform: translateY(-4px);
}

.hamster-info p {
	margin-bottom: 1em;
	font-family: var(--paragraph-font-familiy);
}

.hamster-info span {
	font-weight: bold;
}


