
.hamster-container {
	display: grid;
	/* gap: 1% 2%; */
	grid-template-columns: repeat(4, 1fr);
	/* border: yellow solid 1px; */
	
}

.gallery-container img {
	height: 20vh;
}

.hamstercard {
	/* border: 1px solid black; */
	padding: 1em;
	margin: 1em;
	border: red solid 1px;
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	/* justify-content: center; */
	align-items: center;
	background-color: var(--primary-color);
	border-radius: 2em;
}

.hamster-container button {
	align-self: flex-end;
	
}

/* .button {
	display: flex;
	align-self: flex-end;
} */