.matchwinners-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
	color: var(--primary-color);
}

.matchwinners-header h2 {
	font-family: var(--heading-font-family);
	color: var(--primary-color);
	font-size: 3.5em;
	font-weight: lighter;
	text-transform: uppercase;
}

.matchwinners-header p {
	font-family: var(--paragraph-font-familiy);
	color: var(--secondary-color);
	text-align: center;
}

.matchwinners-header p:nth-child(even) {
	font-style: italic;
	font-weight: lighter;
}
