.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

header {
	background-color: palevioletred;
	color: #282c34;
	padding: 0.5em;
	flex: 0 0 auto;
	/*Den ska ha den storlek den behöver = auto, men den ska inte kunna ändra storlek = 0 0*/
}

nav a {
	padding: 0.2em 1.5em;
	color: #282c34;
	transition: background-color 0.3s linear;
	text-decoration: none;
}

nav a:hover {
	background-color: darksalmon;
}

main {
	background-color: pink;
	flex: 1 1 auto;
}