.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

header {
	background-color: white;
	color: #282c34;
	padding: 0.5em;
	flex: 0 0 auto;
	/*Den ska ha den storlek den behöver = auto, men den ska inte kunna ändra storlek = 0 0*/
}

nav a {
	padding: 0.2em 1.5em;
	color: #FFB1B1;
	transition: background-color 0.3s linear;
	text-decoration: none;
}

nav a:hover {
	background-color: #3C00E5;
}

main {
	background-color: white;
	flex: 1 1 auto;
	/* Den får skala om sig ganska fritt, den får ta resten av utrymmet. 1 1 -> flex grow flex shrink(växer över den storleken som den behöver, utgår ifrån den storleken den behöver (har man ett annat element med 2 2 auto så kommer den vara dubbelt så stor om de har samma innehåll) och auto så får den ta så mkt som den behöver.*/
}

.imghamster:hover {
	transform: translateY(-10px);
  }
.imghamster {
	width: 150px;
	/* transition: all .5s ease-in-out; */
	
}

