:root {
  --error-color: #ce2b1c;
  --valid-color: #249919;
  --primary-color: #a15c64;
  --secondary-color: #d6d6d6;
  --hover-color: #9b4d56;
  --background-color: #0e0d0d;
  --heading-font-family: "Rock Salt", cursive;
  --paragraph-font-familiy: "Roboto", sans-serif;
}

* {
  margin: 0px;
}

body {
  margin: 0;
}
